# Virtual environment
creds/
.venv/

# Python cache
__pycache__/
*.pyc

# Data
data/*.csv

# Trained models
models/*.joblib
models/track_b/

# Outputs
outputs/*.csv
outputs/track_b/

# Environment variables
.env